<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Products</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../style.css">
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Admin Dashboard</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">Home</a>
                    </li>
                </ul>
                <span class="navbar-text">Welcome, <%= user.name %>!</span>
                <a href="/logout" class="btn btn-danger ml-3">Logout</a>
            </div>
        </nav>

        <div class="container mt-4">
            <h1>Manage Products</h1>
            <ul class="list-group mt-3">
                <% products.forEach(product => { %>
                    <li class="list-group-item">
                        <h3><%= product.name %></h3>
                        <p>Price: $<%= product.price %></p>
                        <p>Supplier: <%= product.supplier.name %></p>
                        <p>Category: <%= product.category.name %></p>
                        <p>Description: <%= product.description %></p>
                        <img src="<%= product.image %>" alt="<%= product.name %>" width="300" height="200">
                        
                        <form class="form-container" action="/admin/products/<%= product._id %>?_method=PUT" method="POST" style="display: iniline;">
                            <input type="hidden" name="supplier" value="<%= product.supplier %>">
                            
                            <div class="input-container">
                                <label for="name">Name</label>
                                <input type="text" name="name" placeholder="New Name" value="<%= product.name %>">
                            </div>
                            
                            <div class="input-container">
                                <label for="price">Price</label>
                                <input type="number" name="price" placeholder="New Price" value="<%= product.price %>">
                            </div>
                            
                            <div class="input-container">
                                <label for="description">Description</label>
                                <input type="text" name="description" placeholder="New Description" value="<%= product.description %>">
                            </div>
                            
                            <div class="input-container">
                                <label for="image">Image</label>
                                <input type="text" name="image" placeholder="New Image URL" value="<%= product.image %>">
                            </div>
                            
                            <div class="input-container">
                                <label for="category">Category</label>
                                <select name="category" value="<%= product.category %>">
                                    <% categories.forEach(category => { %>
                                        <option value="<%= category._id %>"><%= category.name %></option>
                                    <% }); %>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                        </form>

                        <form action="/admin/products/<%= product._id %>?_method=DELETE" method="POST" style="display: iniline;">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </li>
                <% }); %>
            </ul>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="../script.js"></script>
    </body>
</html>
