<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catalog</title>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="../catalog.css">
    <link rel="stylesheet" href="../style.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="topNavBarHome">
    <a class="navbar-brand" href="#">Nursery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mr-auto">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/catalog">Catalog</a>
            </li>
            <li class="nav-item">


                <a class="nav-link" href="/about.html">About</a>


            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact.html">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">My Profile</a>
            </li>
        </ul>
        <span class="navbar-text ml-auto">Welcome, <%= user.name %>!</span>
        <a href="/logout" class="btn btn-danger ml-3">Logout</a>
    </div>
</nav>

<div class="container mt-4" class="background-home">
    <h1 id="productTitel">Products</h1>

<form class="SearchCatalog" class="mb-4" method="GET" action="/catalog">
    <div class="form-row">
        <div class="col">
            <input type="text" name="name" class="form-control" placeholder="Product Name">
        </div>
        <div class="col">
            <select name="category" class="form-control">
                <option value="">All Categories</option>
                <% categories.forEach(category => { %>
                    <option value="<%= category._id %>"><%= category.name %></option>
                <% }); %>
            </select>
        </div>
        <div class="col">
            <input type="number" name="price" class="form-control" placeholder="Price">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>


    <div class="row">
        <% products.forEach(product => { %>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <img class="card-image" src="<%= product.image %>" alt="<%= product.name %>">
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text">Supplier: <%= product.supplier.name %></p>
                    <p class="card-text">Price: $<%= product.price %></p>
                    <button class="btn btn-secondary" onclick="window.location.href=`/catalog/<%= product._id %>`">View</button>
                    <form action="/cart" method="POST">
                        <input type="hidden" name="productId" value="<%= product._id %>">
                        <div class="add-to-cart-container">
                            <input type="number" name="quantity" min="1" value="1" required>
                            <button type="submit" class="btn btn-primary" id="addToCardBTN">Add to Cart</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../script.js"></script>
</body>
</html>
